.main-blog {
    padding: 50px 0px;
}

.main-blog p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 25px;
}

.blog-title ul {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: 1px solid #afb0e6;
}

.blog-title ul li {
    display: inline-block;
    padding-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 129.52%;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.6;
}

.blog-title ul li:first-child {
    opacity: 1;
}
.blog-title {
    margin-bottom: 40px;
}

.blog-shadow h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.blog-shadow {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
}

.blog-descrition {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.blog-descrition p {
    margin: 0px;
}

.blog-descrition.height-one {
    height: 285px;
}

.blog-descrition.height-two {
    padding: 17px;
}
.img12{height: 266px; width:100%;}
.blog-descrition.height-one2 {
    height: 266px;
}


.blog-pagination ul {
    margin: 0px;
    text-align: center;
    padding: 0;
}

.blog-pagination ul li {
    display: inline-block;
    padding: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #5D80E2;
    cursor: pointer;
}
.seeshow {
    text-align: center;
    padding: 180px 0px 80px;
    background: #f5f9fc url('../assets/ant-cover-bottom.png') no-repeat center top;
}
.seeshow h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #3E435D;
}