.contact-us {
    padding: 50px 0px;
    background: #F5F9FC;
}

.contact-us h2 {
    margin-bottom: 15px;
}

.contact-us .how-it-title {
    margin-bottom: 50px;
}
.contact-box {
    display: table;
    width: 100%;
}

.contact-icon {
    width: 74px;
    float: left;
    margin-right: 15px;
}

.contact-text {
    overflow: hidden;
}

.contact-text h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #3E435D;
}

.contact-text p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

/* текст */
    color: #626364;
}

.contact-text p a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

/* текст */
    color: #626364;
    display: block;
}

.contact-map {
    padding: 50px 0px;
    background: #f5f9fc;
}

.contact-map h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #3E435D;
    margin-bottom: 50px;
}

.contact-map .form-group label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #3E435D;
}

.contact-map .form-group .form-control {
    background: #FFFFFF;
    border: 1px solid rgba(93, 128, 226, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    height: 52px;
    box-shadow: none;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #3E435D;
    padding: 10px 12px;
}

.contact-map .form-group textarea.form-control {
    height: 136px;
    resize: none;
}

.btn-sub {
    width: 100%;
    height: 52px;
    border: 0px;
    background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
/* 11 */
    box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */
    color: #FFFFFF;
}

.btn-sub:hover{background: linear-gradient(90.17deg, #73B6E5 0.17%, #5D80E2 99.89%);}
.contact-map .form-group {
    margin-bottom: 15px;
}
.map {
    margin-top: 20px;
}
.socail-media {
    padding: 100px 0px 120px;
    background: url('../assets/how-bg.png') no-repeat left bottom;
}

.socail-media h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #3E435D;
    margin-bottom: 25px;
}

.socail-media ul {margin: 0px;padding: 0px;text-align: center;}

.socail-media ul li {
    display: inline-block;
    padding: 5px 15px;
}
.contact-cover{background: url('../assets/bg-2.jpg') no-repeat center top; height: 172px;}
.cricle-contact {
    position: absolute;
    width: 59px;
    height: 59px;
    right: 5em;
    top: 8em;
    border-radius: 100%;
    border: 12px solid #C1C7E1;
}

.contact-us {
    position: relative;
}

.contact-map {
    position: relative;
}

.contact-cricle {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 2em;
    top: -9px;
    border-radius: 100%;
    border: 15px solid #E4F2FF;
}