.footer {
    background: #3E435D;
    padding: 50px 0px;
}


.footer-logo img {
    max-width: 100%;
    width: 207px;
}

.footer ul {
    margin: 0px;
    padding: 0px;
}

.footer ul li {
    list-style: none;
    display: block;
    padding: 5px 0px;
}

.footer ul li a {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight: bold;
}

.btn_demo {
    background: linear-gradient(180deg, #8264C6 0%, #5D80E2 100%);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: 0px;
    width: 161px;
    height: 50px;
    outline: none;
}

.btn_demo:hover {
    background: linear-gradient(180deg, #5D80E2 0%, #8264C6 100%);
    color: #fff;
}

.footer ul li a:hover {
    color: #5f85e2;
}

.bookbox {
    margin-top: 50px;
}