.banner{
background: url('../assets/banner-bg.png') no-repeat center top;
background-size: cover;

}

.banner {
    padding: 80px 0px;
}

.banner h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
    color: #3E435D;
    margin-bottom: 25px;
}

.banner p {
    font-size: 18px;
    line-height: 26px;
    color: #3E425C;
    font-weight: normal;
}

.banner-btn a {
    display: inline-block;
    padding: 17px;
    width: 199px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
}

.book_btn {
    background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
    color: #FFFFFF;
}

.learn_btn {
    color: #8264C6;
    border: 1px solid #8264C6;
}

.book_btn:hover {
    background: linear-gradient(90.17deg, #73B6E5 0.17%, #5D80E2 99.89%);
    color: #fff;
}

.learn_btn:hover {
    background: linear-gradient(90.17deg, #73B6E5 0.17%, #5D80E2 99.89%);
    color: #fff;
    border: 1px solid transparent;
}
.banner-btn {
    margin-top: 40px;
}

.search-box {
    display: flex;
    width: 70%;
    align-items: center;
    margin-top: 6em;
}
.search-box input[type="text"] {
    width: 100%;
    padding: 5px 12px;
    border: 0;
    border-radius: 15px 0px 0px 15px;
    font-weight: 600;
    height: 41px;
    outline: none;
    font-size: 16px;
}

.search-box button {
    border: 0px;
    background: #5f84e2;
    margin: 0px;
    color: #fff;
    padding: 9px;
    width: 50px;
    border-radius: 0px 15px 15px 0px;
    outline: none;
    font-size: 16px;
}
.bookingbox{background: url('../assets/banner-cover.png') no-repeat center top;}
.bookingbox {
    margin-top: -73px;
    padding: 120px 0px;
}

.bookingbox h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #3E435D;
    margin-bottom: 25px;
}

.checkabilty {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.12);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkabilty select {
    border: 0px;
    background: url('../assets/down_arrow.png') no-repeat center right;
    margin-right: 15px;
    color: #3E425C;
    font-size: 20px;
    outline: none;
    appearance: none;
    padding-right: 15px;
    font-weight: normal;
    
   ;
}
.checkabilty input[type="text"] {
    border: 0px;
    background: transparent;
    border-bottom: 1px solid #8264C6;
    outline: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #3E425C;
}
.checkabilty button {
    background: linear-gradient(90deg, #5E82E3 6.88%, #72B3E5 100%);
    box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
    border-radius: 5px;
    border: 0px;
    width: 189px;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #F2F2F2;
}

.checkabilty button:hover {
    background: linear-gradient(90deg, #72B3E5 6.88%, #5E82E3 100%);
}
.bookingbox {
    position: relative;
}

.criclle {
    position: absolute;
    width: 80px;
    height: 80px;
    left: -12px;
    top: 6px;
    border-radius: 100%;
    border: 15px solid #C1C7E1;
}

.criclle2 {
    position: absolute;
    width: 120px;
    height: 120px;
    right: -29px;
    top: -9px;
    border-radius: 100%;
    border: 15px solid #E4F2FF;
}

#root {
    overflow: hidden;
}

.feature-text {
    background: #FFFFFF;
/* 44 */
    box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.1);
    padding: 25px;
    position: relative;
}

.features {
    padding: 0px 0px 50px 0px;
    background: #f7f8fc url('../assets/feature-bg.png') no-repeat center bottom;
}

.features h2 {font-family: Montserrat;font-style: normal;font-weight: 900;font-size: 36px;line-height: 44px;
color: #3E435D;margin-bottom: 100px;}

.feature-text h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 0;
}


.feature-text span {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: inline-block;
    margin-bottom: 15px;
}

.feature-text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.onestep {
    background: linear-gradient(180deg, #8264C6 0%, #5D80E2 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 82px;
    color: #F2F2F2;
    position: absolute;
    top: -24px;
    right: -30px;
}

.bookingbox {
    padding-bottom: 60px;
}

.onestep2 {
    
    width: 100px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    color: #F2F2F2;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, #C1C7E1, #C1C7E1);
    right: 0px;
}

.features .col-md-4 {
    padding: 0px 25px;
}

.feature-text {
    min-height: 230px;
}

.feature-text {
    margin-bottom: 35px;
}
.learn-more a {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #8264C6;
}

.learn-more {
    text-align: center;
    min-height: 230px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.learn-more a img {
    margin-left: 5px;
}

.learn-more a:hover {
    opacity: 0.6;
}

.client-name {
    padding: 50px 0px;
}

.client-name h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
/* identical to box height */
    color: #3E435D;
}

.client-name p {
    font-weight: normal;
    font-size: 20px;
    
/* or 29px */
    color: #000000;
    opacity: 0.6;
}

.client-box ul {
    margin: 0px;
    padding: 0px;
}
.client-box ul li {
    list-style: none;
    float: left;
    width: 138px;
    padding: 2em 0em;
    text-align: center;
}

.client-box {
    display: table;
    width: 100%;
}

.client-box ul li a {
    display: block;
}

.client-box ul li img {
    height: 50px;
}

.client-box ul li.icc {
    width: 180px;
}



.client-box ul li.manta {
    width: 235px;
}
.manybox {
    text-align: center;
}

.many_btn {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #8264C6;
}

.many_btn:hover {
    color: #5D80E2;
}
.get_btn {
    background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
    border-radius: 5px;
    border: 0px;
    width: 189px;
    height: 65px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    outline: none;
}

.buttonbox {
    margin-top: 2em;
}

.get_btn:hover {
    background: linear-gradient(90.17deg,  #73B6E5 0.17%, #5D80E2 99.89%);
}
.criclboxs {
    position: absolute;
    width: 59px;
    height: 59px;
    right: 0px;
    top: 0;
    border-radius: 100%;
    border: 10px solid #C1C7E1;
}
.position{position: relative;}
.trusted h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #3E435D;
}

.trusted {
    padding: 50px 0px;
}

.trusted p {
    font-weight: normal;
    font-size: 20px;
    opacity: 0.6;
    color:#000;
    margin-bottom: 40px;
}

/* Slider */




.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: inline-block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-custom-arrow {
    display: inline-block;
    position: absolute;
    top: 8px;
    font-size: 24px;
    opacity: 0.2;
    color: #8264C6;
}

.slick-custom-arrow.slick-custom-arrow-left.slick-arrow {
    left: 0px;
}


.slick-custom-arrow.slick-custom-arrow-right.slick-arrow {
    right: 0;
}

ul.slick-dots {
    margin: 15px 0px 0px;
    padding: 0;
    text-align: center;
}

ul.slick-dots li {
    display: inline-block;
    margin: 0px 5px;
}

ul.slick-dots li button {
    border: 0px;
    width: 10px;
    height: 12px;
    border-radius: 100%;
    background: #dcdbdb;
    text-indent: -50000px;
}

ul.slick-dots li.slick-active button {
    background: #72b4e5;
}



.customer-logos.slider ul.slick-dots {
    display: none;
}
.boxc{margin-top:25px;}
.boxc a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #8264C6;
}

.slide {
    text-align: center;
}

.brand-box {
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.2);
    box-sizing: border-box;
    margin: 0px 10px;
    border-radius: 10px;
}
.brand-slider {
    margin-top: 35px;
}

.brand-text img {
    width: 30px;
    display: inline-block;
    margin-bottom: 15px;
}

.brand-text {
    text-align: center;
    padding: 15px;
}

.brand-text h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 0;
}


.brand-slider .slick-prev, .brand-slider .slick-next {
    top: 100%;
    cursor: pointer;
}

.brand-slider ul.slick-dots {
    margin: 40px 0px 0px;
}

.brand-slider button.slick-arrow.slick-prev {
    left: 40%;
    opacity: 1;
}

.brand-slider button.slick-arrow.slick-prev:before {
    content: "\f178";
    color: #9569f7;
}
ul.slick-dots li button:focus {
    outline: none;
}
.brand-slider button.slick-arrow.slick-next:before {
    content: "\f177";
    color: #9569f7;
}
.brand-slider button.slick-arrow.slick-next {
    right: 40%;
    opacity: 1;
}
.slick-slide div:focus {
    outline: none;
}
.brand h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #3E435D;
}
.brand p {
    font-weight: normal;
    font-size: 20px;
    color: #000;
    opacity: 0.6;
}
.brand {
   position: relative;
    background:#f5f9fc;
}
.bg-1{background: url('../assets/bg-1.jpg') no-repeat center top; height: 178px;}
.bg-2{background: url('../assets/bg-2.jpg') no-repeat center top; height: 172px;}
.tmt {
    border-bottom: 1px solid #ccc;
}

.tmt ul {
    margin: 0px;
    padding: 0px;
}

.tmt ul li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.6;
}
.tmt ul li b{color:#000;}
.heading{
    font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
color: #3E435D;
}
.blog {
    padding: 50px 0px;
}

.blog p {
    font-weight: normal;
    font-size: 20px;
    opacity: 0.6;
    color: #000;
}

.blog p a {
    color: #000;
    border-bottom: 1px solid rgb(2 0 0 / 46%);
}

.tmt {
    padding-bottom: 15px;
    margin-bottom:50px;
}
.blog-cricle {
    position: absolute;
    width: 59px;
    height: 59px;
    right: 0;
    top: -20px;
    border: 12px solid #C1C7E1;
    border-radius: 100%;
}
img{max-width: 100%;}
.text-blog {
    display: table;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-bottom: 30px;
}
.text-blog {
    margin-bottom: 30px;
}

.blog-img {
    margin-right: 15px;
    width: 245px;
    float: left;
}

.text-descripton h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.text-descripton p {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    margin: 0;
}

.text-descripton {
    padding: 15px;
    overflow: hidden;
}
.many_btn img {
    margin-left: 15px;
}

.heigh_blog {
    text-align: center;
    min-height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: table;
    width: 100%;
}

.top-50 {
    margin-top: 50px;
}

.feed-img {
    width: 159px;
    float: left;
    margin-right: 10px;
}

.feed-text {
    overflow: hidden;
    padding: 15px;
    min-height: 250px;
    align-items: center;
    display: flex;
}

.feed-text h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    color: #000000;
}

.feed-text span {
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.feed-text p {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 9px;
}
.mt-50 {
    margin-top: 50px;
}

.feedback-box {
    padding: 50px 0px;
}
.feed-box {
    margin-bottom: 30px;
}
.lead-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 0.6;
}
.feedback-box {
    background: url(../assets/cover.png) no-repeat bottom left;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -23px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "FontAwesome";
  font-size: 28px;
  line-height: 1;
  color: #080000;
  opacity: 0.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0px;
}
.slick-prev:before {
  content:"\f104";
}

.slick-next {
  right: 0px;
}
.slick-next:before {
  content: "\f105";
}