.how-it-work {
    padding: 50px 0px;
    background: #fbfbfc;
    background: linear-gradient(0deg, #f5f9fc 0%, #fbfbfd 100%);
}

.how-it-title {
    text-align: center;
}

.how-it-title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: #3E435D;
}

.how-it-title p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #626364;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-top: 10em;
  }
  
  .timeline:before {
    top: 45px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgb(93 128 226 / 0.5);
    left: 50%;
    margin-left: -1.5px;
    height: 107em;
}
  
  .timeline > li {
    margin-bottom: 15em;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 94%;
    float: left;
   
    position: relative;
    background: rgb(255 255 255 / 0.8);
    box-shadow: 0px 10px 20px rgba(130, 100, 198, 0.08);
    border-radius: 10px;
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -13px;
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 12px solid #ddd;
    border-right: 0 solid #ddd;
    border-bottom: 12px solid transparent;
    content: " ";
    display: none;
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    border: 0;
    right: 50px;
    display: inline-block;
    border-top: 11px solid white;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid transparent;
    content: " ";
}
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 19px;
    right: -12px;
    /*background-color: #999999;*/
    z-index: 100;
    /*
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    */
  }
  .timeline-body h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #626364;
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 12px;
    left: -13px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    
    border-top-width: 11px;
    left: 50px;
    right: auto;
  }
  
  .timeline-badge > a {
    color: #b5b5b5 !important;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  
  .timeline-badge a:hover {
    color: #000 !important;
  }
  
  .timeline-badge > a > i {
    background: linear-gradient(180deg, #5E81E2 0%, #72B4E5 100%);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
}
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-heading {
    display: block;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    padding: 20px;
    margin-bottom: 0;
    font-weight: normal;
font-size: 18px;
line-height: 26px;

letter-spacing: 0.02em;

color: #626364;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }
  
  .timeline-footer {
    padding: 10px 15px;
    background-color: #f4f4f4;
  }
  
  .timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
  }
  
  .timeline-footer .icon {
    font-size: 20px;
    line-height: 20px;
    margin-right: 6px;
  }
  
  .timeline-footer .icon:last-child {
    margin-right: 0;
  }
  
  .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  

  
  .tooltip.top {
    margin-top: -2px;
  }
  
  .tooltip.right {
    margin-left: 2px;
  }
  
  .tooltip.bottom {
    margin-top: 2px;
  }
  
  .tooltip.left {
    margin-left: -2px;
  }
  
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
  }
  
  .tooltip.left .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
  }
  
  .tooltip.bottom .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
  }
  
  .tooltip.right .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
  }
  
  .tooltip-inner {
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #313131;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .timeline > li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 15em;
    margin-bottom: 0px;
  }
  
  /*.timeline > li:nth-child(2) {
    margin-top: 9em;
  }*/
  
  .timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
  }
  
  @media (max-width: 767px) {
    ul.timeline:before {
      left: 20px;
    }
  
    ul.timeline > li {
      margin-bottom: 25px;
      position: relative;
      width: 100%;
      float: left;
      clear: left;
    }
  
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 46px);
      width: -moz-calc(100% - 46px);
      width: -webkit-calc(100% - 46px);
    }
  
    ul.timeline > li > .timeline-badge {
      left: 8px;
      margin-left: 0;
      top: 18px;
    }
  
    ul.timeline > li > .timeline-panel {
      float: right;
    }
  
    ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 13px;
      left: -13px;
      right: auto;
    }
  
    ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 11px;
      left: -11px;
      right: auto;
    }
  
    .timeline > li.timeline-inverted {
      float: left;
      clear: left;
      margin-top: 15em;
      margin-bottom: 0px;
    }
  
    .timeline > li.timeline-inverted > .timeline-badge {
      left: 8px;
    }
  }

  .numaric {
    display: table;
    width: 100%;
    text-align: right;
    padding: 20px 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 144px;
    line-height: 169px;
    color: #C1C7E1;
    opacity: 0.5;
    position: absolute;
    top: -100px;
    right: 0px;
}
.how-cover{background: url('../assets/bg-2.jpg') center top no-repeat; height:172px;}
.what-we-do{background: #fff ; padding:50px 0px;} 
.how-icon {
  text-align: center;
  margin-top: 50px;
}

.how-icon img {
  margin-bottom: 25px;
}

.how-icon h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.how-icon p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}
.see-cover{background: url('../assets/ant-cover-bottom.png') no-repeat center top; height:140px;}
.see-business {
  padding: 50px 0px 120px;
  text-align: center;
  background: #f4f8fb url('../assets/how-bg.png') no-repeat left bottom;
}

.see-business h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #3E435D;
}
.cricle-how {
  height: 150px;
  width: 150px;
  border: 15px solid #E4F2FF;
  border-radius: 100%;
  position: absolute;
  top: -35px;
  left: -70px;
}

.cricle-how2 {
  border: 15px solid #C1C7E1;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  right: -11em;
}

.how-cricle3 {
  border: 15px solid #C1C7E1;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  position: absolute;
  right: -8em;
  top: -5em;
}

.how-cricle4 {
  border: 15px solid #C1C7E1;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  position: absolute;
  left: -2em;
  top: -10em;
}
.how-cricle5 {
  border: 15px solid #C1C7E1;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  position: absolute;
  left: 0em;
  top: -5em;
}

.how-cricle6 {
  position: absolute;
  width: 120px;
  height: 120px;
  right: -9em;
  top: -14em;
  border-radius: 100%;
  border: 15px solid #E4F2FF;
}