.logo {
  mix-blend-mode: normal;
  max-width: 100%;
}



#navbar{
    width: 100%;
    background: none;
     
  }
  .navbar {
    
    margin: 0;
}
.navbar-light .navbar-brand {
  
  width: 207px;
  height: 85px;
  padding-top: 0px;
}

#demo_box{
border: none;
color: #F2F2F2;
padding: 5px 15px;
  background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
  box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
  border-radius: 5px;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #5D80E2 !important;
}
.demo{
font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color:#3E435D !important;
}

.menudiv li {
  padding: 0px 10px;
}
#signin_container{
  margin: auto;
width: 397px;


box-shadow: 0px 50px 60px rgba(96, 76, 140, 0.15);
border-radius: 10px;
}

#signin_header{
    
  background: linear-gradient(270.01deg, #8264C6 5.49%, #5D80E2 92.71%);
  mix-blend-mode: normal;
  
  }
  #signin_header_heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;

    mix-blend-mode: normal;
  }
  
  
  .signin_body_heading{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;  
    margin-bottom: 10px; 
    color: #666666;
      }
  
  
  .signin_inputbox{
    width: 100%;
    height: 52px;
    padding: 0px 6px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      
  
  }
  
  #signin_button{
      
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
  border-radius: 5px;
text-align: center;
  }
  