.our-team {
    padding: 50px 0px;
    position: relative;
}

.our-team h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #3E435D;
    margin-bottom: 25px;
}

.our-team  p b {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;

/* текст */
    color: #626364;
    opacity: 1;
}

.lead-team {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.7%;
/* or 26px */
    color: #000000;
    opacity: 0.6;
}


.our-team-cricle {
    opacity: 0.5;
    border: 15px solid #C1C7E1;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: absolute;
    right: 32em;
    top: 8em;
}
.our-team-cricle2 {
    width: 162px;
    height: 162px;
    border: 20px solid #E4F2FF;
    border-radius: 100%;
    position: absolute;
    right: -5em;
}


ul.masory {
    margin: 0px;
    padding: 0px;
    /* column-count: 3; */
}

ul.masory li {
    list-style: none;
    padding: 5px;
    float: left;
}


ul.masory li:nth-child(1) {
    width: 399px;
}

ul.masory li:nth-child(2) {
    width: 300px;
}

ul.masory li:nth-child(3) {
    width: 411px;
}

ul.masory li:nth-child(4) {
    clear: left;
    width: 130px;
}

ul.masory li:nth-child(5) {
    width: 270px;
}

ul.masory li:nth-child(6) {
    width: 410px;
    margin-top: -7em;
}

ul.masory li:nth-child(7) {
    margin-top: -7em;
    width: 300px;
}

.our-team-2 {
    padding: 50px 0px;
}

.our-team-2 h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
/* identical to box height */
    text-transform: capitalize;
    color: #3E435D;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: table;
    width: 100%;
}

.team-1 {
    width: 20%;
    float: left;
    margin-bottom: 30px;
    padding-right: 25px;
}

.team-1 img {
    margin-bottom: 15px;
}

.team-1 h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
/* identical to box height */
    color: #3E435D;
    margin-bottom: 15px;
}

.team-1 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */
    color: #3E435D;
    margin-bottom: 15px;
}

.team-1 ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.team-1 ul li {
    list-style: none;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */
    color: #8264C6;
}

.team-1 ul li img {
    margin: 0px;
}

.team-1 ul li:first-child {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #C9CED6;
}

.team-1 ul li a {
    display: inline-block;
    margin-right: 10px;
}

.team-des img {
    margin-bottom: 25px;
}

.team-des {
    text-align: center;
}

.team-des h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #3E435D;
    margin-bottom: 20px;
}

.team-des p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.7%;
/* identical to box height, or 26px */
    color: #000000;
    opacity: 0.6;
}

.learn-team {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    padding: 12px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(130 100 198 / 0.7);
    color: rgb(130 100 198 / 0.7);
}

.learn-team:hover {
    background: #8264c6;
    color: #fff;
}

.team-blog {
    padding-bottom: 50px;
}
.team-bg-cover{background: url('../assets/how-bg.png') no-repeat left bottom; height: 183px;}
.team-cricle123 {
    width: 162px;
    height: 162px;
    border: 20px solid #E4F2FF;
    border-radius: 100%;
    position: absolute;
    left: -5em;
    top: 85%;
}

ul.masory {
    z-index: 1;
    display: table;
    width: 100%;
    position: relative;
}

.team-cricle124 {
    opacity: 0.5;
    border: 15px solid #C1C7E1;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: absolute;
    right: 46%;
    top: -9em;
}


.team-des p {
    margin-bottom: 25px;
}
@media (max-width:992px){
    .our-team-cricle {
        top: 50px;
        right: -18px;
        width: 60px;
        height: 60px;
    }
    .our-team-cricle2 {
        display: none;
    }
    .our-team h2 {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 27px;
    }

    ul.masory {
        display: block;
    }
    
    ul.masory li:nth-child(1) {
        width: 100%;
    }
    
    ul.masory li:nth-child(2) {
        width: 42%;
    }
    
    ul.masory li:nth-child(3) {
        width: 58%;
    }
    
    ul.masory li:nth-child(4) {
        width: 32%;
    }
    
    ul.masory li:nth-child(6) {
        width: 56%;
        margin: 0px;
    }
    
    ul.masory li:nth-child(5) {
        width: 68%;
    }
    
    ul.masory li:nth-child(7) {
        margin: 0px !important;
        width: 44%;
    }
    
    ul.masory li img {
        width: 100%;
    }
    ul.masory {
        display: block;
    }
    
    ul.masory li:nth-child(1) {
        width: 100%;
    }
    
    ul.masory li:nth-child(2) {
        width: 42%;
    }
    
    ul.masory li:nth-child(3) {
        width: 58%;
    }
    
    ul.masory li:nth-child(4) {
        width: 32%;
    }
    
    ul.masory li:nth-child(6) {
        width: 56%;
        margin: 0px;
    }
    
    ul.masory li:nth-child(5) {
        width: 68%;
    }
    
    ul.masory li:nth-child(7) {
        margin: 0px !important;
        width: 44%;
    }
    
    ul.masory li img {
        width: 100%;
    }
    
    ul.masory {
        display: block;
    }
    
    ul.masory li:nth-child(1) {
        width: 100%;
    }
    
    ul.masory li:nth-child(2) {
        width: 42%;
    }
    
    ul.masory li:nth-child(3) {
        width: 58%;
    }
    
    ul.masory li:nth-child(4) {
        width: 32%;
    }
    
    ul.masory li:nth-child(6) {
        width: 56%;
        margin: 0px;
    }
    
    ul.masory li:nth-child(5) {
        width: 68%;
    }
    
    ul.masory li:nth-child(7) {
        margin: 0px !important;
        width: 44%;
    }
    
    ul.masory li img {
        width: 100%;
    }
    
    .team-1 {
        padding: 15px;
        width: 50%;
        text-align: center;
        margin-bottom: 0;
    }
    
    .team-1 h5 {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
    }
    
    .team-1 p {
        font-size: 14px;
        line-height: 16px;
    }
    
    .team-1 ul li {
        font-size: 12px;
    }
    
    .team-1 ul li a:last-child {
        margin: 0px;
    }
    
    .team-1 ul li img {
        width: 16px;
    }
    
    .team-des {
        margin-bottom: 35px;
    }
    
    .team-bg-cover {
        display: none;
    }
    
    .team-blog {
        padding-bottom: 5px;
    }
    
    .team-cricle123 {
        width: 80px;
        height: 80px;
        left: auto;
        top: 107%;
        right: -24px;
    }
    
    .team-cricle124 {
        right: auto;
        top: -11em;
        left: -15px;
    }
    
    .our-team-2 h2 {
        font-size: 22px;
    }
    
    .our-team-2 {
        padding-top: 15px;
    }

}